[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sentence-transformers = "*"
uvicorn = {extras = ["standard"], version = "*"}
redis-om = "*"
protobuf = "==3.20.1"
toml = "*"
python-jose = "*"
python-multipart = "*"
streamlit = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
